
# -- Project metadata ------------------------------------------------------------------

[project]
name = "pyrekordbox"
description = "Inofficial Python package for interacting with the library of Pioneers Rekordbox DJ software."
readme = "README.md"
authors = [
    {name = "Dylan Jones", email = "dylanljones94@gmail.com"},
]
license = {file = "LICENSE"}
dynamic = ["version"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Multimedia :: Sound/Audio",
]
requires-python = ">=3.7"
dependencies = [
    "bidict>=0.21.0",
    "blowfish>=0.6.0",
    "construct>=2.10.0",
    "hypothesis>=6.0.0",
    "numpy>=1.19.0",
    "packaging",
    "pytest>=6.2.0",
    "psutil>=5.9.0",
    "setuptools>=60.0.0",
    "setuptools-scm[toml]>=4",
    "sqlalchemy>=2.0.0",
]
packages = "find"
platforms = ["any"]
zip-safe = false
include-package-data = true


[project.optional-dependencies]
build = [
    "wheel>=0.37.0",
]
test = [
    "pytest-cov",
    "wheel>=0.37.0",
]


[project.urls]
Source = "https://github.com/dylanljones/pyrekordbox"
Documentation = "https://pyrekordbox.readthedocs.io/en/stable/"
Tracker = "https://github.com/dylanljones/pyrekordbox/issues"


# -- Build -----------------------------------------------------------------------------

[build-system]
requires = [
    "setuptools >= 60.0.0",
    "setuptools_scm[toml] >= 4, <6",
    "setuptools_scm_git_archive",
    "wheel >= 0.37.0",
]
build-backend = "setuptools.build_meta"


[tool.setuptools_scm]
write_to = "pyrekordbox/_version.py"
git_describe_command = "git describe --dirty --tags --long --match * --first-parent"


# -- Black -----------------------------------------------------------------------------

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = "__init__.py|__main__.py|_version.py"
force-exclude = """
/(
    anlz/structs.py |
    mysettings/structs.py
)\
"""


# -- Linting ---------------------------------------------------------------------------

[tool.pydocstyle]
add_ignore = [
    "D105",  # ignore undocumented dunder methods like ``__str__`
]


# -- Coverage --------------------------------------------------------------------------

[tool.coverage.run]
branch = true
source = ["pyrekordbox"]


[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",

    "def __repr__",
    "def __str__",

    "@abstract",
    "@property",

    "raise AssertionError",
    "raise NotImplementedError",

    "if 0:",
    "if __name__ == .__main__.:"
]
omit = [
    "pyrekordbox/utils.py",
    "pyrekordbox/config.py",
    "pyrekordbox/_version.py",
    "pyrekordbox/__main__.py",
]
ignore_errors = true
